# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.tree-view':
      'Upload Directory': 'ftp:uploaddirectory'

  '.file':
      'Upload File': 'ftp:uploadfile'
      'Watch File': 'ftp:watchfile'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'FTP'
      'submenu': [
        { 'label': 'Project Settings', 'command': 'ftp:settings' }
      ]
    ]
  }
]
